h1 {
    text-align: center;
    font-size: 44px;
    background-color: brown;

}
.main {
    background-color: darksalmon;
}

h2 {
    background-color: brown;
}

a { 

    color: cadetblue;
    font-size: 28px;
    font-weight: 500;
}

.main {
    background-color: darksalmon;
}

div {
    box-align: center;
}

img {
    max-width: 100px;
    max-height: auto;
}